.secPhotography{
    display: none;
}
.secVideography{
    display: none;
}
.secDecoration{
    display: none;
}
.secMeal{
    display: none;
}
.container{
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: chartreuse;
}