* {box-sizing: border-box;}

.container {border-radius: 5px; background-color: #f2f2f2; padding: 10px; background-color:"#874325;"; margin-left: 25%; margin-right:25%; width: 50%;}

.column {float: left; width: 50%; margin-top: 6px; padding: 20px;}

.row:after {content: ""; display: table; clear: both;}


/*form*/
input[type=text], textarea {font-family: Georgia; width: 100%; padding: 12px; border: 1px solid #ccc; margin-top: 6px; margin-bottom: 16px; resize: vertical;}
input[type=email], textarea {font-family: Georgia; width: 100%; padding: 12px; border: 1px solid #ccc; margin-top: 6px; margin-bottom: 16px; resize: vertical;}
input[type=submit] {background-color: #4CAF50; color: white; padding: 12px 20px; border: none; cursor: pointer;}
input[type=submit]:hover {background-color: #45a049;}
form {margin-left: 15%; margin-right:15%; width: 70%;}
.p1 {font-family: Georgia; text-align: center; text-shadow: 1px 1px;}
.p2 {text-transform: capitalize; text-align: center; font-size:20px;}

.container #error_messege{
  margin-bottom:20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
