body{
  background-color: rgb(31, 27, 27);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin-top: 90px;
  /* margin: 0;
  padding: 0; */
  

}
h1{
  text-align: center;
  color: rgb(35, 146, 35);
  margin: 30px 0 50px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item img{
  width:525px;
  height: 344px;
  border: 1px solid red;
}
.wrap{

  
  padding-top: 60px;
}