*{margin: 0;border: 0;}

body{background-color: #000000;}

.slides{position:relative;width: 100%;left:0;top:0;}
.slides img{width:100%;height: auto;}
.bgclr{
    position: absolute;
    height: 20%;
    width:30%;
    top:auto;
    right: 35%;
    background-color:transparent;
    opacity: 1;
    text-align: center;
    padding-top: 15%;
}

.textslide{
    height:80%;
    width:100%;
    background-color:black;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 35px;
    padding-top: 60px;
    opacity: 0.7;
    color: white;
    font-weight: bold;
}
.button{background-color: white;height: 50px;width: 40%;position:absolute;left:30%;border-radius: 4px;}
.button a{text-decoration: none;font-family: Verdana, Tahoma, sans-serif;font-weight: bold;font-size: 18px;color: black;}
.button:hover a{color:144646}


.row {
display: flex;
box-sizing: border-box;
}

.home1{
background-color:#326464;
}

.home2{
background-color:#3E3E3E ;
}

.home3{
background-color:#7AACAC ;
}  

.column {
flex: 50%;
padding: 5px;
margin: 40px;
}

.text{
background-color: transparent;
perspective: 1000px;
}
.container{
position:relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.text:hover .container{
transform: rotateY(180deg);
} 

.text1{background-color: #BFBFBF;}
.text2{background-color:#7AACAC} 
.text3{background-color: #3E3E3E;}   
.pic,.text{width: 50%;}
.flip-box-back {
background-color: #ffffff;
transform: rotateY(180deg);
}
.front-box,.flip-box-back{
font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
font-weight: bold;
letter-spacing: 2px;
word-spacing: 2px;
text-transform: uppercase;
position:absolute;
text-align: center;
width:100%;
height: 100%;
}
.front-box{font-size:45px;}
.text1 p{position: absolute;top:45%;}
.text2 p{position: absolute;top:45%;}
.text3 p{position: absolute;top:45%;}


.services {
    width: 65%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    background-color: #000000;
}
.serviceimg2 {
    float:right;
    flex: 1;
}
.servicedes{
    color: #Ffffff;
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;;
    padding: 15px;
}
.servicedes,.serviceimg1{
    float: left;
    flex: 1;
}
ul{list-style-type: none;}



