.container{
    display: grid;
    grid-template-columns: 15% 85%;
    /* background-color: chartreuse; */
}
body{
    /* background-color: rgb(212, 198, 212); */
    background-color: #0e0e23;
}
.midContent{
    background-color: #252954;
    margin: 15px;
    border-radius: 15px;
    color:  rgb(225, 225, 226);
    height: 50vh;
}