.profile{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    background-color: #252954;
    color:  rgb(225, 225, 226);
    border-radius: 15px;
}
.profile h2{
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

.profile .lable{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 60px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;    
    

}
.forms form{
    margin: 30px 0px;
}
.forms #delete{
    background-color: red;
    float: right;
    margin-right: 15px;
}
.forms #logout{
    background-color: slategray;
    margin-left: 15px;
}

.btn{
    color: whitesmoke;
    border-style: none;  
    padding: 15px;
    
}
.btn:hover{
    cursor: pointer;
}
.forms{
    display: grid;
    grid-template-columns: 50% 50%;
}
.forms button{
    width: 250px;
}
.lable{
    width: 300px;
}
span{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 25px;
}
.wrap{
    display: grid;
    grid-template-columns: 30% 70%;
}