body {
    font-family: "Abel" , sans-serif;
    background-image: url("../Assets/partysvg2.svg"), url("../Assets/partysvg.svg"), url("../Assets/imgg2.jpg");
    background-position: right bottom, left bottom, top;
    background-size: 30%,30%,100%;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

.container {

    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(216, 169, 169);
    /* opacity: 85%; */
    color: rgb(17, 0, 0);
    padding: 25px;

    -webkit-border-radius: 55px 55px 55px 55px;
    border-radius: 55px 55px 55px 55px;

}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    -webkit-border-radius: 55px 55px 55px 55px;
    border-radius: 55px 55px 55px 55px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;

}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.btn{
    width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  
}
.btn.userRegisterBtn {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
}

.btn:hover {
    opacity: 1;
    background-color: #4d84e2;
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.custom-select {
    position: relative;
    font-family: Arial;
  }
  .btn.solid {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }

  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .btn.cancelbtn {
      width: 100px;
      background-color: #b93333;
      border: none;
      outline: none;
      height: 40px;
      border-radius: 40px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      margin: 10px 0;
      cursor: pointer;
    }
    .button-wrap{
      display: grid;
      grid-template-columns: 50% 50%;
    }
    #cancelbtn{
        padding-top: 17px;
        margin-left: 15px;
        text-align: center;
        background-color: rgb(256, 0, 0);
      }
      
      .btn-wrapper a{
        color: #fff;  
        text-decoration: none;
        margin-top: 10px;
        font-size: 0.8rem;
      }